/** INITIAL STYLES *******************************************************/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: Montserrat;
  font-size: 62.5%;
  --logo-red: #a80000;
  --font-size-body: 1.6rem;
}

body {
  position: relative;
  padding: 2.4vw 2.4vw 0 2.4vw;
}

.frontpage-container {
  background-color: #dac3c3;
}

/** HERO SECTION STYLES *******************************************************/

.hero-section-wrapper {
  filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.5));
  position: relative;
}

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url("./img/bagtaepper/D-467-min.jpg");
  background-size: cover;
  background-position: center;
  clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 0% 90%);
  opacity: 0;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(144, 105, 105, 0.652);
  mix-blend-mode: color-burn;
}

.hero__logo {
  position: absolute;
  width: 10vw;
  margin: 10px;
  opacity: 0;

  border-radius: 30%;
  overflow: hidden;
  border: 2px solid rgb(111, 111, 111);
}

.hero__logo__image {
  width: 100%;
}

.hero__header--wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  text-align: center;
}

.hero__header {
  margin-bottom: 5vw;
}

.hero__header span {
  display: block;
  text-transform: uppercase;
  color: #f9f0b1;
  font-family: "Montserrat";
  text-shadow: 3px 3px 3px #4b3434;
  opacity: 0;
}

.hero__header__main {
  font-size: 5vw;
  text-align: center;
  letter-spacing: 0.5vw;
}

.hero__header__sub--top,
.hero__header__sub--bottom {
  font-size: 2.3vw;
  width: 100%;
  letter-spacing: 0.5vw;
}

.hero__header__sub--top {
  text-align: left;
}

.hero__header__sub--bottom {
  text-align: right;
}

/** BUTTON COMPONENT STYLES *******************************************************/

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  position: relative;
  border: none;
  cursor: pointer;
  opacity: 0;
  font-family: "Lato";
  font-size: 2vw;
  transition: transform 0.2s;
}

.btn::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px rgb(151, 46, 5);
}

.btn:active::after {
  box-shadow: 0 0 0 0 rgb(228, 160, 0);
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.btn--red {
  background-color: var(--logo-red);
  color: #f9f0b1;
  opacity: 1;
  display: inline-block;
  transition: transform 0.2s;
}

.btn--red:hover {
  transform: translateY(-3px) !important;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.6);
  transition: transform 0.2s;
}

.btn--red:active {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.6);
}

/** ABOUT SECTION ***************************************/

.about {
  width: 100%;

  margin-top: -25vw;
  padding: 25vw 3vw 3vw 3vw;
  position: relative;

  font-size: var(--font-size-body);
  color: rgb(109, 109, 109);
}

.about__content__header {
  color: var(--logo-red);
  text-transform: uppercase;
  font-size: 5rem;

  width: 100%;
  text-align: center;
  margin-bottom: 5rem;
}

.about__articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.about__articles article {
  width: 45%;
  margin-bottom: 5rem;
}

.article-header {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  border-bottom: 1px solid rgb(109, 109, 109);
}






.animated-element {
  width: 100px;
  height: 60px;
  background-color: red;
  transition: all .5s; 
}

.animated-element:hover {
  background-color: green;
  transform: translateY(-5px);
}
