*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 3rem 3rem 0 3rem;
  background-color: #a05242;
  font-family: Montserrat;
}

h1 {
  text-transform: uppercase;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #e6b46b;
  text-shadow: 1px 1px #2d14149e;
}
